# URL base de la API del backend.
# Durante la compilacion (ng build) se inyecta este valor, si se define,
# reemplazando la URL predeterminada de desarrollo.
# NG_APP_API_URL=http://localhost:3000/api/v1