NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=matricula_universitaria
DB_USER=root
DB_PASSWORD=

INITIAL_ADMIN_FIRST_NAME=Administrador
INITIAL_ADMIN_LAST_NAME=Sistema
INITIAL_ADMIN_EMAIL=admin@universidad.edu
INITIAL_ADMIN_PASSWORD=CambiarEstaClave123
