NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=matricula_universitaria
DB_NAME_TEST=matricula_universitaria_test
DB_USER=root
DB_PASSWORD=

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=*

INITIAL_ADMIN_FIRST_NAME=Administrador
INITIAL_ADMIN_LAST_NAME=Sistema
INITIAL_ADMIN_EMAIL=admin@universidad.edu
INITIAL_ADMIN_PASSWORD=CambiarEstaClave123
